body{
	font: normal 1em Verdana;
	margin: 1em 10%;
}

h1{
	font: italic 5em Georgia;
	color: rgb(23, 109, 109); 
	margin: 1em 0 1em;}
}

img { margin: 0 20px 0 0; }

h1 img { margin-bottom: -20px; }

p img {margin-right: 50px}

p small{
	color: #666666;
}